/*상단 내비개이션*/
html {
    font-size: 15px;
}
#global-nav {
    background: #39c5bb;
    position: relative;
    width: 100%;
    display: block;
}

#global-nav h1 {
    display: none;
}
#global-nav ul.global-nav__list{
    display: table;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    list-style:none;
}
#global-nav ul.global-nav__list li.global-nav__item {
    position: relative;
    display: table-cell;
    text-align: center;
}
#global-nav a{
    font-size: 1.2em;
    float: left;
    display: table;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-right: solid 1px #fff;
    border-left: solid 1px #fff;
}
#global-nav a:hover, #global-nav ul li a.global-nav__link.top.current {
    opacity: 1;
    background-color: white;
    color: #39c5bb;
    text-shadow:
        -1px -1px 0px #a9ece8,
        1px -1px 0px #a9ece8,
        -1px 1px 0px #a9ece8,
        1px 1px 0px #a9ece8;  
}

#global-nav ul.global-nav__list li.global-nav__item a.icon {
    display: none;
}

@media screen and (max-width: 600px) {
    #global-nav ul.global-nav__list li.global-nav__item:not(:first-child):not(:last-child){display: none;}
    #global-nav ul.global-nav__list li.global-nav__item a.icon {
      float: right;
      display: block;
    }
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s
}
  

/*오버래이어*/
div #Loader_overlay {
    display: none;
}
@media screen and (max-width: 600px) {
    #global-nav.fadeIn.responsive {position: relative;}

    #global-nav.fadeIn.responsive ul.global-nav__list li.global-nav__item {
      display: block;
      width: 20%;
      text-align: left;
    }
    #global-nav.fadeIn.responsive ul.global-nav__list li.global-nav__item a{
        border-right: none;
        border-left: none;
    }
  }