#masthead-content {
  display: block;
  background-color: black;
  width: 100%;
  height: auto;
  overflow: scroll;
    /* z-index: 2; */
  }
  #character-detail {
    position: relative;
    width: 984px;
    height: 720px;
    margin: 0 auto;
    overflow: hidden;
  }
  #character-detail .modal-btn--prev {
    left: 100px;
  }
  #character-detail .modal-btn--next {
    right: 100px;
  }
  
  #character-detail .descripts{
    position: absolute;
    left: 473px;
    top: 10%;
  } 
  #character-detail .descripts .content-title{
    padding: 0;
    display: block;
    color: white;
  }
  #character-detail .descripts .content-title .ko ruby div{
    font-size: 1.5em;
    font-weight: bold;
  }
  #character-detail .descripts .content-title .ko ruby rt{
    font-size: 1.1em;
  }

  #character-detail .descripts .character-voice {
    width: 320px;
    background: #fff no-repeat center 16px;
    border-radius: 12px;
    display: block;
    align-items: center;
    padding: 10px 32px 96px;
  }
  #character-detail .descripts .character-voice ul{
    padding: 0;
    list-style: none;
    display: block; 
}
  .character-detail__body {
    display: block;
    width: auto;
    height: 700px;
    position: absolute;
    left: -130px;
    bottom: -5%;
  }
  .btn-voice button{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    background: #39c5bb;
    display: block;
  }

  .voice-message {
    position: absolute;
    bottom: 16px;
    left: 32px;
    right: 32px;
    background: #39c5bb;
    color: #fff;
    height: 60px;
    display: flex;
    padding: 0 0 0 20px;
    border-radius: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
  }

  .voice-message.jp-playing {
    background-color: #ff0066;
  }
  .time{
    display: block;
    text-align: center;
    position: inherit;
    color: white;
  }
  .warn{
    display: none;
    text-align: center;
    position: inherit;
    /*highted*/
    color:#a9ece8;
  }
  @media screen and (max-width: 600px) {
    .warn {
      display: block;
    }
  }